*, *:before, *:after { box-sizing: border-box; }
body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding: 0px;
    margin: 0;
    color: #fff;
    background-color: #181818;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    -webkit-text-size-adjust: none;
}

div {
    cursor:https://nnwv.github.io/blueworldtest/images/blue-cursor.cur(blue-cursur.cur),auto;
}


a {
    color: #6699cc;
}

img {
  border: 10px solid #F0F0F0;
  border-radius: 2px;
}

main {
    display: flex;
    flex-flow: row wrap;
    align-items: center; 
    justify-content: center; 
    height: 100vh;
    border: 15px solid #000;	
    gap: 20px;
    cursor: ../images/blue-cursor.cur(blue-cursur.cur),auto;
}

figure {
    display: flex;
    flex-flow: column wrap;
    align-items: center; 
    justify-content: center; 
    gap: 10px;
}

figcaption {
    width: 100%;
    text-align: center;
}




#gallery, #archive {
	display: block;
}




