*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Baskerville", serif;
  padding: 0;
  margin: 0;
  color: #fff;
  width: 100vw;
  background: #282828;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  overflow: hidden;
}

a {
  color: #6699cc;
}

iframe {
  border: none;
}

#join-btn, #leave-btn {
  font-family: "Material Symbols Rounded";
  position: fixed;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  margin: 1.5em;
  z-index: 10000;
}
#join-btn span, #leave-btn span {
  display: grid;
  place-items: center;
  background: transparent;
  font-size: 32px;
  width: 40px;
  height: 40px;
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
}
#join-btn span:hover, #leave-btn span:hover {
  font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 0, "opsz" 24;
  cursor: pointer;
}
#join-btn span:active, #leave-btn span:active {
  color: grey;
}

.loading-btn {
  -webkit-animation: loading 0.75s linear infinite;
  -moz-animation: loading 0.75s linear infinite;
  animation: loading 0.75s linear infinite;
}
.loading-btn span {
  color: #fcdd07;
  font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 0, "opsz" 24;
}

#mic-controls {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;
  margin: 1.5em;
}

#leave-btn #leave-icon {
  display: grid;
  background: transparent;
  font-size: 32px;
  margin: auto;
  color: #fcdd07;
  font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 0, "opsz" 24;
}
#leave-btn #leave-icon:hover {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, 42.5%);
  flex-flow: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
main a {
  display: inline-grid;
  margin: 0 auto;
}

#loading-scrim {
  background-color: #282828;
  z-index: 100000;
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.landing-links {
  width: 75%;
}
.landing-links:first-of-type {
  background: radial-gradient(white 40%, transparent 60%);
}

.to-gallery, .to-archive {
  border: 3px groove #F0F0F0;
  border-radius: 2px;
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-row-start: 1;
  grid-row-end: 2;
}
.to-gallery:hover, .to-archive:hover {
  filter: invert(0.03);
}

#to-gallery-1 {
  border-right: 0px;
}

#to-gallery-2 {
  border-left: 0px;
}

.slideLeft {
  position: relative;
  -webkit-animation: slideLeft 10s ease infinite;
  -moz-animation: slideLeftt 10s ease infinite;
  animation: slideLeft 10s ease infinite;
}

.slideRight {
  position: relative;
  -webkit-animation: slideRight 10s ease infinite;
  -moz-animation: slideRight 10s ease infinite;
  animation: slideRight 10s ease infinite;
}

.gallery-overview {
  width: 100%;
  position: fixed;
}

#gallery {
  width: 100%;
}

#left-side {
  cursor: pointer;
}

#center-side {
  cursor: pointer;
}

#right-side {
  cursor: pointer;
}

#unity-wrapper {
  text-align: center;
  padding: 0;
  border: 0;
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: unset;
  place-content: center;
}

#unity-canvas {
  background-color: #231f20;
  width: 100vw;
  height: 100vw;
  aspect-ratio: 16/9;
}

#unity-canvas-16-9 {
  background-color: #231f20;
  width: 100vw;
  aspect-ratio: 16/9;
}

#unity-canvas-16-9-small {
  background-color: #231f20;
  width: 85vw;
  aspect-ratio: 16/9;
}

@-webkit-keyframes slideLeft {
  0% {
    left: 0px;
  }
  15% {
    left: -5px;
  }
  60% {
    left: -5px;
  }
  75% {
    left: 0px;
  }
  100% {
    left: 0px;
  }
}
@-webkit-keyframes slideright {
  0% {
    right: 0px;
  }
  15% {
    right: -5px;
  }
  60% {
    right: -5px;
  }
  75% {
    right: 0px;
  }
  100% {
    right: 0px;
  }
}
@-moz-keyframes slideLeft {
  0% {
    left: 0px;
  }
  15% {
    left: -5px;
  }
  60% {
    left: -5px;
  }
  75% {
    left: 0px;
  }
  100% {
    left: 0px;
  }
}
@-moz-keyframes slideright {
  0% {
    right: 0px;
  }
  15% {
    right: -5px;
  }
  60% {
    right: -5px;
  }
  75% {
    right: 0px;
  }
  100% {
    right: 0px;
  }
}
@keyframes slideLeft {
  0% {
    left: 0px;
  }
  15% {
    left: -5px;
  }
  60% {
    left: -5px;
  }
  75% {
    left: 0px;
  }
  100% {
    left: 0px;
  }
}
@keyframes slideRight {
  0% {
    right: 0px;
  }
  15% {
    right: -5px;
  }
  60% {
    right: -5px;
  }
  75% {
    right: 0px;
  }
  100% {
    right: 0px;
  }
}
@-webkit-keyframes loading {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: 180deg;
  }
  100% {
    rotate: 180deg;
  }
}
@-moz-keyframes loading {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: 180deg;
  }
  100% {
    rotate: 180deg;
  }
}
@keyframes loading {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: 180deg;
  }
  100% {
    rotate: 180deg;
  }
}
@media (max-width: 600px) {
  #unity-canvas {
    background-color: #231f20;
    width: 100vw;
    height: 100vw;
  }
}

/*# sourceMappingURL=styles.css.map */
